<div class="channel-container">
    <div class="Ashri's-header">
      <img src="assets/channel4-logo.png"  class="channel-logo">
      <div class="channel-info">
        <h3>Ashri's</h3>
        <p>2M Subscribers</p>
        <p>1500 Videos</p>
      </div>
    </div>
  
    <div class="channel-videos">
      <div class="video-item">
        <div class="video-thumbnail"></div>
        <div class="video-details">
          <p class="video-title">Getting ready for Siri's Marriage</p>
          <p class="video-metadata">950k views • 3 hours ago</p>
        </div>
      </div>
  
      <div class="video-item">
        <div class="video-thumbnail"></div>
        <div class="video-details">
          <p class="video-title">Sai Gopi's Birthday Celebration</p>
          <p class="video-metadata">1M views • 2 days ago</p>
        </div>
      </div>
    </div>
  </div>
  